.row{
    display: flex;
    text-align: justify;
   
    
}
.col-sm-4{
    width: 100%;
    padding-right: 30px;
    
}
.inner{
    font-size: 12px;
    font-weight: 400;
    color: #AAA;
    text-align: justify;
    line-height: 26px;
    font-family: "Poppins", sans-serif !important;
    position: relative;
    letter-spacing: 0.8px;
}
.dark{
    font-family: "Poppins", sans-serif !important;
    font-size: 12px;
    font-weight: 600;
    text-align: justify;
    line-height: 26px;
    
    position: relative;
    letter-spacing: 0.8px;
}
.cms-block{
   padding-bottom: 30px;
}
.thk{
    text-align: center !important;
}